<div style="height: 100%;">
    <div *ngIf="showCarga" class="backCarga" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="row">
        <div fxFlex="50" fxLayoutAlign="start center">
            <h2 class="title2">Asignaciones</h2>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
            <button mat-flat-button color="primary">Agregar<mat-icon>
                    add</mat-icon></button>
        </div>
    </div>

    <div fxLayout="row">
        <mat-form-field appearance="outline" fxFlex="20" style="margin-right: 10px;">
            <mat-label>Seleccione una opción</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="search">
                <mat-option (click)="getAssignments()">--</mat-option>
                <mat-option *ngFor="let search of listSearch" [value]="search.value">
                    {{search.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="40">
            <mat-label>Buscar</mat-label>
            <input [disabled]="selectedValue != null ? false : true" matInput type="text" [(ngModel)]="value" placeholder="Ingrese {{selectedValue}}">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon style="color: gray;">close</mat-icon>
            </button>
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="selectedValue != null ? false : true"
            style="height: 52px;margin-top: 3.5px;">
            Buscar<mat-icon>search</mat-icon>
        </button>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let row"> {{row[0].id}} </td>
            </ng-container>

            <ng-container matColumnDef="id_course">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Curso </th>
                <td mat-cell *matCellDef="let row"> {{row[1].id}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let row"> {{row[1].description}} </td>
            </ng-container>

            <ng-container matColumnDef="id_student">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Estudiante </th>
                <td mat-cell *matCellDef="let row"> {{row[2].id}} </td>
            </ng-container>

            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row[2].firstname}} </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                <td mat-cell *matCellDef="let row"> {{row[2].lastname}} </td>
            </ng-container>

            <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Grado </th>
                <td mat-cell *matCellDef="let row"> {{row[2].grade}} </td>
            </ng-container>

            <ng-container matColumnDef="section">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sección </th>
                <td mat-cell *matCellDef="let row"> {{row[2].section}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
    <br><br>
</div>