.title2 {
    color: "#2E2E2E";
    font-weight: bold;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,th {
    width: 11.11%;
  }
  
  .backCarga {
    height: 100%; 
    width: 100%;
    margin: -10px; 
    background-color: rgba(0, 0, 0, 0.1); 
    position: absolute;
  }
  
  .backCarga2 {
    height: 100%; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    position: absolute;
  }
  