<div style="height: 100%;" class="animated fadeInRight" fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="showCarga" class="backCarga2" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-evenly"
        style="background-color: white;width: 40%;height: 70%; border-radius: 2px;box-shadow: 0px 0px 5px 1px #F2F2F2; padding-left: 3%; padding-right: 3%;">
        <br>
        <div fxLayoutAlign="center center">
            <h1 class="title2">Asignación de estudiante</h1>
        </div>
        <div>
            <mat-form-field appearance="outline" (click)="addStudent()">
                <mat-label>Estudiante</mat-label>
                <input disabled matInput [(ngModel)]="nameStudent" required>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" style="color: #424242;">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" (click)="addCourse()">
                <mat-label>Curso</mat-label>
                <input disabled matInput [(ngModel)]="nameCourse" placeholder="Seleccione un curso" required>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" style="color: #424242;">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <h4 *ngIf="showMessage" style="color: red;text-align: center;">{{message}}</h4>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <button style="width: 50%;" mat-button color="warn" routerLink="/assignments">
                <mat-icon> keyboard_arrow_left</mat-icon>Cancelar
            </button>
            <button style="width: 50%;" mat-button color="primary" cdkFocusInitial (click)="createAssignment()">
                <mat-icon> add</mat-icon>Asignar
            </button>
        </div>
        <br>
    </div>
</div>